/*=====================================FONTS==========================================*/
@font-face {
    font-family: 'Proxima-regular';
    src: url(.././fonts/ProximaNova-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima-black';
    src: url(.././fonts/ProximaNovaExCn-Extrabld.woff);
}
@font-face {
    font-family: 'Roboto-regular';
    src: url(.././fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
/*=====================================DEFAULT-STYLES===========================================*/
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    color: var(--black-color);
}
.section-title{
    font-family: 'Roboto-regular';
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin: 0;
}
main{
    margin-bottom: 80px;
}
/*=====================================HEADER===========================================*/
.header{
    box-shadow: 0px 2px 4px rgba(115, 115, 115, 0.1);
    font-family: 'Proxima-regular';
}
.header__container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-box__item:nth-child(3){
    display: flex;
    gap: 40px;
}
.header-box__item:nth-child(2){
    padding-left: 115px;
}
.header-box__item .call .call__btn{
    background-color: var(--orange-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 3px;
}
.header-box__item .call-us{
    text-align: center;
}
.header-box__item .call-us .call-us__bot span{
    display: flex;
    justify-content: center;
    padding-left: 11px;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-color);
}
.header-box__item .call-us .call-us__top .call-number{
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-color);
    text-decoration: none;
}
.header-box__item .call-us .call-us__top img{
    padding-right: 5px;
}
.header-box__item .payment .payment-link{
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-color);
    text-decoration: underline;
}
/*=====================================INTRODUCE===========================================*/
.introduce{
    font-family: 'Proxima-regular';
    padding-top: 80px;
}
.introduce .introduce__container{
    max-width: 975px;
    margin: 0 auto;
}
.introduce
.introduce-box{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items__bot{
    display: flex;
    justify-content: space-between;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-title{
    font-size: 35px;
    line-height: 47px;
    color: var(--blue-color);
    margin: 0;
    max-width: 421px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items{
    padding-top: 40px;
    width: 450px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue-color);
    text-decoration: none;
    justify-content: center;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item a:hover{
    color: var(--orange-color);
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item{
    font-size: 16px;
    line-height: 19px;
    color: var(--blue-color);
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item
span{
    padding-top: 10px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item
introduce-item__name:first-child{
    padding-top: 5px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item
.introduce-item__image g:hover{
    fill: var(--orange-color);
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items
.introduce-item
.introduce-item__image:first-child{
    width: 85px;
    height: 85px;
}
.introduce
.introduce-box
.introduce-box__item
.introduce-items{
    display: flex;
    flex-direction: column;
}
/*=====================================SERVICES===========================================*/
.services{
    font-family: 'Proxima-regular';
    padding-top: 100px;
}
.services .services-title{
    font-family: 'Proxima-regular';
}
.services
.services-roster{
    padding-top: 50px;
}
.services
.services-roster
.services-roster__top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}
.services
.services-roster
.services-roster__top
.services-roster-top-item a{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    text-align: center;
    color: var(--blue-color);
}
.services
.services-roster
.services-roster__top
.services-roster-top-item a:hover{
    color: var(--orange-color);
}
.services
.services-roster
.services-roster__top
.services-roster-top-item
.services-name{
    color: var(--black-color);
}
.services
.services-roster
.services-roster__top
.services-roster-top-item
.services-name:hover{
    color: var(--orange-color);
}
.services
.services-roster
.services-roster-top-item a svg{
    border-right: 1px solid var(--grey-color-two);
    padding: 50px;
    fill: var(--blue-color);
}
.services
.services-roster
.services-roster-top-item:nth-child(6) svg{
    border: none;
}

.services
.services-roster
.services-roster__top
.services-roster-top-item
.services-image g{
    fill: var(--blue-color);
}
.services-name--active{
    color: var(--orange-color);
}
/*======BOTTOM======*/
.services
.services-roster
.services-roster__bot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}
.services
.services-roster
.services-roster__bot
.services-roster-bot-item a{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    text-align: center;
    color: var(--blue-color);
}
.services
.services-roster
.services-roster__bot
.services-roster-bot-item a:hover{
    color: var(--orange-color);
}
.services
.services-roster
.services-roster__bot
.services-roster-bot-item
.services-name{
    color: var(--black-color);
}
.services
.services-roster
.services-roster__bot
.services-roster-bot-item
.services-name:hover{
    color: var(--orange-color);
}
.services
.services-roster
.services-roster-bot-item a svg{
    border-right: 1px solid var(--grey-color-two);
    padding: 50px;
    fill: var(--blue-color);
}
.services
.services-roster
.services-roster-bot-item:nth-child(6) svg{
    border: none;
}

.services
.services-roster
.services-roster__bot
.services-roster-bot-item
.services-image g{
    fill: var(--blue-color);
}
/*=====================================ORDER===========================================*/
.order{
    padding-top: 100px;
}
.order .order-title{
    font-size: 32px;
    line-height: 42px;
    color: var(--grey-color);
}
.order .instruction{
    font-family: 'Proxima-regular';
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.order .instruction .instruction__item{
    text-align: center;
    position: relative;
}
.order .instruction .instruction__item-one::after{
    content: "";
    position: absolute;
    transform: rotate(90deg);
    width: 1px;
    height: 176px;
    background-color: var(--orange-color);
    right: 24px;
    top: -10px;
}
.order .instruction .instruction__item-one::before{
    content: "";
    position: absolute;
    background-image: url(../././img/call-center.svg);
    width: 60px;
    height: 60px;
    left: 317px;
    top: 47px;
}
.order .instruction .instruction__item-two::after{
    content: "";
    width: 1px;
    height: 176px;
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--orange-color);
    top: -10px;
    left: 32px;
}
.order .instruction .instruction__item-two::before{
    content: "";
    width: 1px;
    height: 180px;
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--grey-color-three);
    top: -10px;
    right: 27px;
}
.order .instruction .instruction__item-three::after{
    content: "";
    width: 1px;
    height: 185px;
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--grey-color-three);
    top: -13px;
    left: 33px;
}
.order .instruction .instruction__item-three::before{
    content: "";
    position: absolute;
    background-image: url(.././img/worker.svg);
    width: 60px;
    height: 60px;
    right: 313px;
    top: 47px;
}
.order .instruction .instruction__item .instruction-number{
    font-family: 'Proxima-black';
    font-size: 120px;
    line-height: 146px;
    color: var(--blue-color);
}
.order .instruction .instruction__item .instruction-descr{
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color);
    width: 260px;
    margin: 0;
}
/*=====================================ABOUT==========================================*/
.about{
    font-family: 'Proxima-regular';
    padding-top: 80px;
}
.about .about-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-box .about-box__item .about-box-title{
    font-size: 32px;
    line-height: 42px;
    color: var(--grey-color);
    margin: 0;
}
.about .about-box .about-box__item .about-box-descr{
    max-width: 445px;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-color);
    padding-top: 30px;
}
.about .about-box .about-box__item .about-box-descr p{
    margin: 0;
}
.about .about-box .about-box__item .about-box-descr p:first-child{
    margin-bottom: 20px;
}
.proofs{
    display: flex;
    gap: 25px;
}
.proofs-text{
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-color);
    max-width: 160px;
    font-weight: 600;
}
.about .about-box .about-box__item .proofs .proofs__left .proofs__left-item{
    display: flex;
    align-items: center;
    gap: 35px;
}
.about .about-box .about-box__item .proofs .proofs__right .proofs__right-item{
    display: flex;
    align-items: center;
    gap: 35px;
}
.about .about-box .about-box__item .proofs .proofs__left{
    display: flex;
    flex-direction: column;
}
.about .about-box .about-box__item .proofs .proofs__right{
    display: flex;
    flex-direction: column;
}
/*======================================FOOTER==========================================*/
.footer{
    font-family: 'Proxima-regular';
    color: var(--grey-color);
    box-shadow: 0px -2px 4px rgba(115, 115, 115, 0.1);
}
.footer .footer-box{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer .footer-box .footer-links{
    display: flex;
    flex-direction: column;
}
.footer .footer-box .footer-links .footer-links__item{
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color);
    text-decoration: none;
}
.footer .footer-box .footer-links .footer-links__item:first-child{
    margin-bottom: 5px;
}
.footer .footer-box .author{
    text-decoration: underline;
}
/*======================================PAGE 2==========================================*/
/*======================================SERVICE==========================================*/
.service{
    font-family: 'Proxima-regular';
}
.service .service__container{
    padding-top: 80px;
}
.service .service-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service .service-header .service-title{
    font-size: 36px;
    line-height: 44px;
    color: var(--black-color);
    margin: 0;
}
.service .service-header .service-more-link{
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
    text-decoration: underline;
    font-weight: 700;
}
.service .service-content .service-content-box{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    max-width: 920px;
    margin: 0 auto;
}
.service .service-content .service-content__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.service .service-content .service-content__item .service-content-image{
    margin-bottom: 15px;
}
.service .service-content .service-content__item .content-name{
    font-size: 18px;
    line-height: 22px;
    color: var(--black-color);
}
.service .packages{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.service .packages .packages__item{
    font-size: 15px;
    width: 350px;
}
.service .packages .packages__item .packages-title{
    font-size: 22px;
    line-height: 27px;
    color: var(--blue-color);
    margin: 0;
    margin-bottom: 30px;
}
.service .packages .packages__item .packages-price{
    border-top: 1px solid var(--grey-color-two);
    border-bottom: 1px solid var(--grey-color-two);
    display: flex;
    justify-content: space-between;
}
.service .packages .packages__item .packages-price div{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 18px;
    color: var(--black-color);
}
.service .packages .packages__item .work .work__text-title{
    font-weight: 500;
}