:root{
    --orange-color: #EF760D;
    --grey-color: #3F3F3F;
    --grey-color-two: #C4C4C4;
    --grey-color-three: #C8C8C8;
    --blue-color: #2C237D;
    --black-color: #000000;
    --white-grey-color: #C8C8C8;
    --white-color: #FFFFFF;
}